<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- adding external stylesheet -->
<link rel="stylesheet" type="text/css" href="stylesheets/style.css">
<link rel="stylesheet" type="text/css" href="stylesheets/animate.css">

<!-- cdn for the stylesheet and javascript -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

<!-- animate on scroll css -->
<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">

</head>
<body>
<!-- hero image -->
<div class="bg-image"></div>

<div class="bg-text">
  <h2 class="animated fadeInUp">Hire Up!</h2>
  <h1 style="font-size:50px" class="animated fadeInUp delay-1s">Get Hired</h1>
  <p  class="animated fadeInUp delay-2s">for what you love</p>
  <button class="button"> <span>Login to get started</span></button>
</div>
<!-- hero image ends here -->
<br><br><br>
<!-- details about the company starts here -->
<div class="container">
  <div class="row">
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
      <div class="card" data-aos="fade-up-right">
        <div class="card-body">
          <h5 class="card-title" style="text-align: center;">Why hire up? </h5><br>
          <p class="card-text"> Search 1000+ companies worldwide. Get the inside scoop and find out what it's really like from people who've actually worked there<br><br></p>
        </div>
      </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
      <div class="card" data-aos="fade-up-left">
        <div class="card-body">
          <h5 class="card-title">What  we do? </h5>
          <p class="card-text">Let’s face it, the majority of recruiting firms out there do nothing but sit on job boards, forwarding you resumes. We have a very exclusive pool of candidates (50,000) that we’ve directly recruited and continue to grow with every search</p>
        </div>
      </div>      
    </div>
  </div>
</div>
<!-- details about the company ends her -->
<!-- our team columns -->
<hr class="horizontalLine" data-aos="fade-up">
<h1 class="teamHeader" data-aos="zoom-in-up">Our Team</h1>
<div class="container">
  <div class="row">
    <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
        <div class="card" style="min-width: 50px;"  data-aos="fade-down">
          <img class="card-img-top" src="images/balaji.jpg" alt="Balaji Bharatwaj M">
          <div class="card-body">
            <h5 class="card-title">Balaji Bharatwaj M</h5>
            <p class="card-text">Front End Designer</p>
          </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12"  data-aos="fade-up">
        <div class="card" style="min-width: 50px;">
          <img class="card-img-top" src="images/ravi.jpg" alt="Ravi Sundar">
          <div class="card-body">
            <h5 class="card-title">Ravi Sundar</h5>
            <p class="card-text">Front End Designer</p>
          </div>
        </div>      
    </div>
    <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12" data-aos="fade-up">
        <div class="card" style="min-width: 50px;">
          <img class="card-img-top" src="images/vada.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Priyamvada Mahesh</h5>
            <p class="card-text">Backend Developer</p>
        </div>
        </div>      
    </div>
    <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12" data-aos="fade-down">
        <div class="card" style="min-width: 50px;">
          <img class="card-img-top" src="images/praveen.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Praveen T</h5>
            <p class="card-text">Backend Developer</p>
          </div>
        </div>
    </div>
  </div>
</div>
<!-- our team column ends here -->
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
</body>
</html>
<script>
  AOS.init(1000);
</script>