<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="stylesheets/select/styles.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link href="https://fonts.googleapis.com/css?family=Ubuntu:400,700&display=swap" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
<link rel='stylesheet' href='stylesheets/select/iconstyles.css'/>
<script>
// Get the modal
var modal = document.getElementById('id01');
var modal2=document.getElementById('id02');

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
    if (event.target == modal) {
        modal.style.display = "none";
    }

if (event.target == modal2) {
        modal.style.display = "none";
    }
}
</script>

</head>
<body>
  <div class="container cardClass">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12"> 
        <div class="centerpage">
          <p class="header">Join over <bold>Millions of Developer's</bold> Search for job &  get hired</p>
          <button class="button" onclick="location.href='/register'">Sign up</button>
        </div> 
        <div class="hire">
          <p>Hiring Talent?<a href="#hire"> Contact us </a></p>
        </div>
      </div>
    </div>
    <hr class="horizontal">
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        
      <div class="card w-90">
        <div class="card-body" style="text-align: center;">
          <h5 class="card-title">Hireup for job seekers</h5>
          <p class="card-text"> <span style="font-weight: bold;">Get Hired </span><br>One stop destination for everything related to  career decisions. Optimise your career options and make informed career choices.</p>
          <button class="button" style="width:auto;" onclick="location.href='/student/login'">Login</button>
        </div>
                  <br>
        <img class="card-img-bottom" src="images/students.jpg" alt="Card image cap">
      </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <div class="card mb-3 w-90" style="text-align: center;">
      <img class="card-img-top" src="images/buildings.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Hireup for Companies</h5>
        <p class="card-text">
          <span style="font-weight: bold;">Hire someone</span><br>
          Hireup for Work is the leading end-to-end technical recruiting platform for hiring <br>
          <button class="button" style="width:auto;" onclick="location.href='/recruit/login'">Login</button>
        </p>
      </div>
      </div>
      </div>
    </div>
        <hr class="horizontal">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <p class="companies">Companies that has partnered with us!</p>
      </div>
    </div>
    <div class="row social-icons">
      <div class="col-lg-1 col-md-2 col-sm-1 col-xs-1">
        <ul><li class="twitter" style="background-color: #f0f0f0">
<a href="#" target="_blank">Twitter</a>
</li></ul>
      </div>
      <div class="col-lg-1 col-md-2 col-sm-1 col-xs-1">
        <ul><li class="facebook" style="background-color: #f0f0f0">
<a href="#" target="_blank">Facebook</a>
</li></ul>
        
      </div> 
      <div class="col-lg-1 col-md-2 col-sm-1 col-xs-1">
        <ul><li class="youtube" style="background-color: #f0f0f0">
<a href="#" target="_blank">YouTube</a>
</li></ul>
        
      </div> 
      <div class="col-lg-1 col-md-2 col-sm-2 col-xs-12">
        <ul><li class="googleplus" style="background-color: #f0f0f0">
<a href="#" target="_blank">Google +r</a>
</li></ul>
        
      </div> 
      <div class="col-lg-1 col-md-2 col-sm-1 col-xs-1">
        <ul><li class="pinterest" style="background-color: #f0f0f0">
<a href="#" target="_blank">Pinterest</a>
</li></ul>
        
      </div> 
      <div class="col-lg-1 col-md-2 col-sm-1 col-xs-1">
        <ul><li class="paypal" style="background-color: #f0f0f0">
<a href="#" target="_blank">Paypal</a>
</li>
        
      </div> 
      <div class="col-lg-1 col-md-2 col-sm-1 col-xs-1">
        <ul>
<li class="linkedin" style="background-color: #f0f0f0">
<a href="#" target="_blank">LinkedIN</a>
</li></ul>
        
      </div> 
      <div class="col-lg-1 col-md-2 col-sm-1 col-xs-1">
        <ul><li class="flickr" style="background-color: #f0f0f0">
<a href="#" target="_blank">Flickrr</a>
</li></ul>
        
      </div> 
      <div class="col-lg-1 col-md-2 col-sm-1 col-xs-1">
        <ul><li class="vimeo" style="background-color: #f0f0f0">
<a href="#" target="_blank">Vimeo</a>
</li></ul>
        
      </div> 
      <div class="col-lg-1 col-md-2 col-sm-1 col-xs-1">
        <ul><li class="skype" style="background-color: #f0f0f0">
<a href="#" target="_blank">Skype</a>
</li></ul>
        
      </div> 
      <div class="col-lg-1 col-md-2 col-sm-1 col-xs-1">
        <ul><li class="html5" style="background-color: #f0f0f0">
<a href="#" target="_blank">HTML 5</a>
</li>
</ul>
        
      </div> 
      <div class="col-lg-1 col-md-2 col-sm-1 col-xs-1">
        <ul><li class="rss" style="background-color: #f0f0f0">
<a href="#" target="_blank">RSS Feed</a>
</li></ul>
        
      </div>   
    </div>
    </div>
  </div>
 

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>